.header {
    display: flex;
    flex-flow: row;
    text-align: center;
}

h1 {
    font-size: 50px;
    font-family: 'Shadows Into Light', cursive;
}

p {
    text-align: center;
    font-size: 24px;
    font-family: 'Comfortaa', cursive;
}

.header img {
    width: 15%;
    height: auto;
    padding: 5px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #fcbfb7;
    color: #2a4d14;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 18px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #f6f5ae;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    font-size: 16px;
  }

  .inneraccordion {
    background-color: #fcbfb7;
    color: #2a4d14;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 18px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .inneraccordion:hover {
    background-color: #f6f5ae;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .innerpanel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    font-size: 16px;
  }